$mainWidth: 900px;
$black: #384047;
// $green: #26D926;
$green: #2C9E53;
$highlight: rgba(154,205,50,0.4);
$gray: #DDDDDD;
$blue: #3e6588;
$topMargin: 120px;

html, body {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  background-color: #fff;
  font-family: sans-serif;
  font-weight: 300;
  color: $black;
}

#full-screen {
  width: 100%;
  height: 100%;
}

#main-frame {
  max-width: $mainWidth;
  display: flex;
  flex-direction: column;
  margin: $topMargin auto 50px auto;
}

p {
  margin: 40px 0;
}
