$footerHeight: 60px;

.footer {
  width: 100%;
  height: $footerHeight;
  background-color: $green;
  z-index: 999;
  display: flex;
justify-content: center;
}
.mail {
  height: $footerHeight;
  line-height: $footerHeight;
  color: white;
  font-size: 1.4rem;
}

.copyright {
  height: $footerHeight;
  line-height: $footerHeight;
  color: white;
  font-size: 1.4rem;
  margin-right: 50px;
}
